#
# oplus extend audio codec configuration
#

config SIA_PA_ALGO
	bool "Use SIA PA ALGO"
	default n

#ifdef OPLUS_BUG_COMPATIBILITY
config SND_SOC_CODEC_AW87339
	bool "Use AW87339 As PA"
	default n
#endif /* OPLUS_BUG_COMPATIBILITY */

config SND_TFA98XX_I2C_ADD_REVERSE
	bool "I2C is REVERSE"
	default n

#ifdef OPLUS_ARCH_EXTENDS
config SND_SOC_AW87XXX
       bool "Use AW87xxx As PA"
       default n

       config SND_SOC_OPLUS_PA_MANAGER
       bool "add PA manager"
       default n
#endif /* OPLUS_ARCH_EXTENDS */

#ifdef OPLUS_BUG_COMPATIBILITY
config SND_SOC_DBMDX
	bool "Use DBMDX As Sound Card"
	default n

source sound/soc/codecs/audio/dbmdx/Kconfig
#endif /* OPLUS_BUG_COMPATIBILITY */

